html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.list {
  list-style: none;
  padding: 0;
}

.list-item-wrapper {
  display: grid;
  grid-template: auto auto / auto 1fr;
  grid-template-areas:
    "ico hea"
    "remove-btn con";
  gap: 14px;
}

.drag-icon {
  grid-area: ico;
  cursor: pointer;
}

.list-item-header {
  grid-area: hea;
}

.list-item-content {
  grid-area: con;
}

.list-item-btn-remove {
  grid-area: remove-btn;
  align-self: end;
}

.list-item-btn-remove {
  grid-area: remove-btn;
  padding: 0;
}

.list-item-btn-add {
  display: flex;
}